<form action="/add" method="post">
  <div>
    Title: <input type="text" name="title">
    Bookmark: <input type="text" name="new_bookmark">
    <input type="submit" value="Add">
  </div>
</form>


<% @bookmarks.each do |object| %><br>
<%= "<a href='#{object.url}'>#{object.title}</a><br>" %>
<% end %>

<form action="/delete" method="post">
  <div>
    Title to delete: <input type="text" name="title_delete">
    <input type="submit" value="Delete">
  </div>
</form>
